<div class="container">



  <div class="card" style="margin:50px;margin-bottom:80px;">
      <div class="card-header">
     <span style="color:#d9534f"> <b> Instructions </b></span>
      </div>
      <div class="card-body">
        <ul >
           <li><label >Each question will have 4 options.</label></li>
         	<li><label >You can select an option by clicking on the radio button in its left side.</label></li>
												<li><label >In order to proceed to next question, click on the next Button that will be present below the options.</label></li>
                        <li><label>The time allotted for the exam will be mentioned on the top of the question.</label></li>
                        <li><label>Exam will be submitted automatically after completion of allotted time.</label>		</li>
                        <li><label>There is no negative marking in exam.</label></li>
                        <li><label>You can submit exam any time by clicking on submit button.</label></li>
                        <li><label>Do not try to refresh exam.</label></li>
                        <li><label>Result will be provided just after submission of exam.</label></li>
        
                      </ul>
              <button type="submit" class="btn btn-profile" (click)="cancel()">Cancel</button>&nbsp;&nbsp;
              <button type="submit" class="btn btn-danger" (click)="giveExam()">Start</button>
           
           
            
      </div>
     
    </div>
    </div>

