
.bg-top-header {
    width: 100%;
    display: block;
    background: #d9534f;
    padding: 10px 0;
}
.bg-top-header p {
    margin: 0;
    color: #fff;
    font-weight: 500;
}

.bg-top-header p.tr {
    text-align: right;
}

@media screen and (max-width: 480px) {
    .bg-top-header p, .bg-top-header p.tr {
        text-align: center;
    }
  }

.navbar {
    background-color: #FFF;
    border-top: solid 1px #d9534f;

    box-shadow: 0 0 5px #00000045;
    margin-bottom: 0!important;
}

.a-bg-color{
    color:white;
}
