
<div class="back-img" style=" background-image:url(assets/img/slide1.png);">
<div class="container">
  <div class="row">
  <div class="col-sm-6"></div>

  <div class="card col-sm-5" style="margin:50px;box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);">
      <div class="card-header" style="color: #ffffff;">
        <b>Login Form</b>
      </div>
      <div class="card-body">
          <form style="margin:30px;">
              <div class="form-group">
                <label for="exampleInputEmail1" style="color: #ffffff;">Email address</label>
                <input type="email" class="form-control" [(ngModel)]='mail' name="mail" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted" >We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1"style="color: #ffffff;" class="txtcolor">Password</label>
                <input type="password" class="form-control" [(ngModel)]='pass' name="pass" placeholder="Password">
              </div>
             
              <button type="button" class="btn btn-danger" (click)="login()" >Login</button>
              
            </form>
            <a style="margin-left:30px;color:grey" routerLink="/register"class="txtcolor" data-toggle="modal" data-target="#exampleModal"><b>Forgot Password?</b></a>
            <br><br>
           <span style="margin-left:30px;color:rgb(255, 133, 133)"> <b>{{fpComment}}</b></span>
        </div>
      </div>
    </div>
  </div>
  </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Enter your registered mail</label>
            <input type="text" class="form-control" [(ngModel)]='fpMail' id="recipient-name" name="fpMail">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"(click)="getPassword()">Send</button>
      </div>
    </div>
  </div>
</div>